body {
  margin: 0;
  padding: 0;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.legend {
  background-color: #909397;
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 24px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 20px;
  position: absolute;
  right: 10px;
  z-index: 1;
}

.legend h4 {
  margin: 0 0 10px;
  font-size: 20px;
  justify-content: center;
}

.legend div span {
  border-radius: 50%;
  /* height: 5px;
            width: 5px; */
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  width: 20px;
  justify-content: center;
}

#menu button,
.legend button {
  all: unset;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
  vertical-align: middle;
}

#title-legend {
  font-size: 20px;
  word-spacing: 2px;
  line-height: 1.2;
}

#menu {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 10px;
  right: 50px;
  font-family: "Open Sans", sans-serif;
}

#menu button {
  font-size: 13px;
  width: 90%;
  height: 39px;
  color: #404040;
  background-color: #f8f8f8;
  /* display: relative; */
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu button:last-child {
  border: none;
}

#menu button:hover {
  background-color: #3887be;
  color: #ffffff;
}

#menu button.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu button.active:hover {
  background: #404040;
  color: #ffffff;
}

.mapboxgl-popup {
  z-index: 1500;
}

@media screen and (max-width: 600px) {
  .map {
  }

  .legend {
    bottom: 35px;
    padding: 5px;
  }

  .legend,
  .legend h4,
  .legend div span {
    font-size: 10px;
  }

  .legend div span {
    height: 15px;
    margin-right: 5px;
    width: 15px;
  }

  button {
    font-size: small;
    word-spacing: 1px;
    vertical-align: middle;
  }

  #title-legend {
    font-size: 15px;
  }

  #menu {
    text-align: right;
  }

  #menu button {
    height: 26px;
    width: 75%;
  }
}
